{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Classrooms</div>
        <div class="card-body">
          <h5 class="card-title">Free Class</h5>
          <p class="card-text">14</p>
          <h5 class="card-title">Busy Class</h5>
          <p class="card-text">12</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Students</div>
        <div class="card-body">
          <h5 class="card-title">Students</h5>
          <p class="card-text">140</p>
          <h5 class="card-title">New Request</h5>
          <p class="card-text">12</p>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Lessons</div>
      <div class="card-body">
        <h5 class="card-title">High Rate</h5>
        <p class="card-text">Javascirpt : 4.5</p>
        <h5 class="card-title">Low Rate</h5>
        <p class="card-text">Java : 2.7</p>
      </div>
    </div>
  </div>

    <div class="col">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Events</div>
        <div class="card-body">
          <h5 class="card-title">This Week</h5>
          <p class="card-text">12</p>
          <h5 class="card-title">Next Week</h5>
          <p class="card-text">32</p>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}