{% extends 'notes_app/index.html' %}
{% block content %}
<h4 style="text-align: center; margin-bottom: 32px;">Please select which note you want delete: </h4>

    {% for post in posts %}
 

  <div class="row">
    <div class="col-sm-6" style="width: 400px; margin: 0 auto;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{post.category}} </h5>
          <h6 class="card-title"> {{post.title}} </h6>
          <p class="card-text"> {{post.note_text}} </p>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>


  </div>
  {% endfor %}
{% endblock %}