<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  </head>
  <body>
    <br>
    <div class="container">
      <a href="{% url 'create' %}"><button type="button" class="btn btn-primary" name="button">Create</button></a>
      <a href="{% url 'read' %}"><button type="button" class="btn btn-primary" name="button">Read</button></a>
      <a href="{% url 'undo' %}"><button type="button" class="btn btn-primary" name="button">Undo</button></a>
      <a href="{% url 'delete' %}"><button type="button" class="btn btn-primary" name="button">Delete</button></a>
    
    </div>
    
    <br>
    <div class="container alert alert-primary" >

      {% block content %}

      {% endblock %}
    </div>


  </body>
</html>
