<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  </head>
  <body>
    <br>
    <div class="container">
      <button type="button" class="btn btn-primary" name="button">Create</button>
      <button type="button" class="btn btn-primary" name="button">Read</button>
      <button type="button" class="btn btn-primary" name="button">Undo</button>
      <button type="button" class="btn btn-primary" name="button">Delete</button>
    </div>
    <br>
    <div class="container alert alert-primary" >
      notes field
    </div>


  </body>
</html>
