<!-- {% extends 'notes_app/index.html' %}
{% block content %}
{% for note in notes %}

<form action="" method="get">
    <div class="card text-white bg-primary mb-3" style="max-width: 34rem;">
        <div class="card-header">{{note.category}}</div>
        <div class="card-body">
          <h5 class="card-title">{{note.title}}</h5>
          <p class="card-text">{{note.note_text}}</p>

          <a href="{% url 'test_update2' note.id%}"><button type="button" class="btn btn-info" name="button">Info</button></a>
        </div>
      </div>
</form>
{% endfor %}
{% endblock %} -->