{% extends 'notes_app/index.html' %}
{% block content %}
<h1>Read  all data</h1>
<form action="{% url 'read' %}" method="GET">
  {% csrf_token%}
{% for note in notes %}
<div class="card text-white bg-primary mb-3" style="max-width: 34rem;">
    <div class="card-header">{{note.category}}</div>
    <div class="card-body">
      <h5 class="card-title">{{note.title}}</h5>
      <p class="card-text">{{note.note_text}}</p>
      <p class="card-text">{{note.id}}</p>
      <a href="{% url 'test_update' note.id %}"><button type="button" class="btn btn-info" name="button">Info</button></a>
      
    </div>
  </div>
{% endfor %}
</form>
{% endblock %}